%div
    %h2 Posts list :
    =link_to "Create post",[:new,:post]
    %ul
        -Post.all.each do |post|
            %section{:class => "posts"}
                %li= link_to "#{post.title}", [post]
                %p= "#{post.content}"



